<%- include('header');-%>

<div class="upload my-5">
    <form action="/upload" method="post" enctype="multipart/form-data" align="center" class="my-5" onsubmit="return checkefile()">
        <h1 align="center"><i class="fa-solid fa-cloud-arrow-up"></i></h1>
        <div class="box mx-md-2">
            Title:<input type="text" id="title" name="title">
            <br>
            <br>
            Document: <input type="file" id="efile" name="pdf">
        </div>
        <div class="ss my-5 ">
            <button type="submit" class="btn btn-primary mx-2" >Upload</button>
            <a href="/document"><button type="button" class="btn btn-success mx-2">View All Documents</button></a>
        </div>
        <h3>Note* Your Documents are safe Please Don't Worry About it!

        </h3>
    </form>
</div>

<br>
<br>
<br>
<br>
<br>
<script src="javascript/formvalidation.js"></script>
<%- include('footer');-%>