<%-include('header');-%>

<form action="" class="subjectchoice" id='a' align="center" >
    <h2><b>Select Subject</b></h2>

    <select class="s" name="Subject">
        <option value="COMPUTER NETWORK">COMPUTER NETWORK</option>
        <option value="OPERATING SYSTEM">OPERATING SYSTEM</option>
        <option value="COMPUTER">COMPUTER</option>
    </select>
</form>
  <div class="container" id="Instruction" >
    <ul class="w"><br>
        <li><b>General information:</b></li><br>
        <ol>
            <li>The examination will comprise of Objective type Multiple Choice Questions (MCQs)</li><br>
            <li>All questions are compulsory and each carries One mark.</li><br>
            <li>The total number of questions, duration of examination, will be different based on
                the course, the detail is available on your screen. </li><br>
            <li>The Subjects or topics covered in the exam will be as per the Syllabus.</li><br>
            <li>There will be NO NEGATIVE MARKING for the wrong answers.</li><br>
        </ol>
        <li><b>Information & Instructions:</b></li><br>
        <ol>
            <li>The examination does not require using any paper, pen, pencil and calculator.</li><br>
            <li>Every student will take the examination on a Laptop/Desktop/Smart Phone</li><br>
            <li>On computer screen every student will be given objective type type Multiple Choice
                Questions (MCQs).</li><br>
            <li>Each student will get questions and answers in different order selected randomly
                from a fixed Question Databank.</li><br>
            <li>The students just need to click on the Right Choice / Correct option from the
                multiple choices /options given with each question. For Multiple Choice Questions,
                each question has four options, and the candidate has to click the appropriate
                option.</li><br>
        </ol>
    </ul>
    <div align="center" >
        <a href="/"><button id="e" class="btn btn-success" type="button">Back</button></a>
        <a href="/quiz"><button id="f" class="btn btn-danger"type="submit">Start quiz</button></a></button><br><br>
    </div>
    </div>
</div>

<%- include('footer');-%>