<%- include('header');-%>

    <header>
        <div class="container header-section flex">
            <div class="header-left">
                <h1>Best of luck</h1>
                <p> E-exam is online learning platform that allows students to take exams, ask questions, and upload
                    their
                    documents. It could be a comprehensive platform that offers various features to help students learn,
                    practice, and improve their skills.</p>
                <a href="/exam" class="btn btn-primary">Take your exam</a>
            </div>
            <div class="header-right">
                <img  class="rounded-circle" src="images/19790.jpg" height="300px" weight="200px" alt="hero image">
            </div>
        </div>
    </header>
    <section class="features-section">
        <div class="container">
            <div class="features-header">
                <button class="btn btn-primary">All Features</button>
            </div>
        </div>
    </section>
    <div class="box featureall mx-5 my-2">
        <div class="features-area flex mx-5">
            <div class="features-card flex mx-5 my-2">
                <h1><i class="fa-sharp fa-solid fa-laptop"></i></h1>
                <h3>Give Exam</h3>
                <p>Test your Knoledge</p>

            </div>
            <div class="features-card flex mx-5 my-2">
                <h1><i class="fa-solid fa-person-circle-question"></i></h1>
                <h3>Ask your Question</h3>
                <p>Clear your dout</p>

            </div>
            <div class="features-card flex mx-5 my-2">
                <h1><i class="fa-solid fa-folder-open"></i></h1>
                <h3>Upload Document</h3>
                <p>Upload your documents</p>

            </div>
            <div class="features-card flex mx-5 my-2">
                <h1><i class="fa-solid fa-folder-open"></i></h1>
                <h3>view</h3>
                <p>View your documents</p>
            </div>


        </div>
    </div>
    <section class="big-features-section">
        <div class="container flex big-features-container">
            <div class="feature-img">
                <img class="rounded-circle" src="images/5437683.jpg" height="300px" weight="50" alt="">
            </div>
            <div class="feature-desc flex">
                <h1>Ask your Question</h1>
                <p>This feature allows you to ask questions related to their exams or coursework on this website.
                    You can have a community of teachers or mentors who can answer the questions.
                </p>
            </div>
        </div>

    </section>
    <section class="big-features-section">
        <div class="container flex big-features-container">
            <div class="feature-desc flex">
                <h1>Upload Documents</h1>
                <p>
                    This feature allows you to upload  documents such as assignments, projects, or research
                    papers on your website. You can provide a cloud storage or a repository where the documents can be
                    securely stored and accessed by the students and teachers.
                </p>
            </div>
            <div class="feature-img ">
                <img class="rounded-circle" src="images/2388528.jpg" height="300px" weight="50" alt="">
            </div>
        </div>
    </section>



    <%- include('footer');-%>