<%- include('header');-%>
<div class="upload my-5">
    <form action="/" method="post" enctype="multipart/form-data" align="center" class="my-5">
        <h1 align="center"><i class="fa-solid fa-square-poll-vertical"></i></i></h1>
        <div class="box mx-4">
           <h1>Your Score is:<%=score%>/5</h1>
           <h4><i class="fa-solid fa-thumbs-up"></i> Good Luck for next Test</h4>
        </div>
        <div class="ss my-5 ">
            <a href="/"><button type="button" class="btn btn-success mx-2">Go to Home</button></a> 
        </div>
        <h3>

        </h3>
    </form>
</div>
<br>
<br>
<br>
<br>
<script src=""></script>
<%- include('footer');-%>